
 <!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
        <link rel="stylesheet" type="text/css" href="web/js/css.css">
        <!--引用Jquery-->
        <script src="web/js/jquery.js"></script>
        <script src="web/js/min.js"  ></script>
	    <script src="web/js/core.js" ></script>
        <script>
            $(window).ready(function () {
                (function ($) {
                    $('body').on('tap', '.link', function (event) {
                    var url = this.getAttribute('href');
                    var blank = this.getAttribute('target');
                    if (blank == '_blank') {
                        window.open(url);
                    } else {
                        window.location.href = url;
                    }
                    });
                })(mui);
                var lab = document.getElementsByClassName('site-nav')[0];
                if (lab) {
                    var nav = getCookie('tab_item');
                    if (nav) {
                            var as = lab.getElementsByTagName('a');
                            for (var i; i < as.length; i++) {
                               as[i].className = 'link'
                            }
                            as[nav - 1].className = 'link mui-active'
                    }
                }
                function getCookie(name) {
                    var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                    if (arr = document.cookie.match(reg))
                        return unescape(arr[2]);
                    else
                        return null;
                }
            })
        </script>


<title>个人资料</title>

</head>



	<body class="backgroud-white">

		<div class="mui-content">

			<!-- 导航栏开始 -->

			<header class="mui-bar mui-bar-nav nav-hide">

				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
                <a href="?r=home/index" class="mui-bar-nav-home link"></a>

			</header>

			<!-- 导航栏结束 -->



			<!-- 弹出层开始 -->

			<div class="layer">

				<div class="layer-file-upload">

					<label class="layer-close"><span class="mui-icon mui-icon-close">X</span></label>

					<img src="web/img/33.png" />

					<p class="title">上传照片</p>

					<p>95%的会员选择有照片的用户进行联系哦</p>

					<button class="mui-btn do-upload" type="button">立即上传</button>

				</div>

			</div>

			<!-- 弹出层结束 -->



			<!-- 个人标签卡开始 -->

			<div class="file-area">

				<div class="file-avatar">


					<div class="clip-bg do-avatar-upload" style="background:

					url(/img/avata-1.png);">
                        <img src="{{ imgs[0].path }}">
					</div>


					<p>
						<b>li李先森</b>


						<span class="ico ico-ident"></span>




						<span class="ico ico-msg"></span>




						<span class="ico ico-mobile-active"></span>


						<br />21 &nbsp;北京北京 &nbsp;180CM
					</p>

				</div>



				<img src="web/images/file-bg.png" />



				<div class="file-total">

					<ul class="mui-table-view mui-grid-view boder-none">

						<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">

							<a href="#"><b>0</b>微博

							</a>

						</li>

						<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">

							<a href="#">

							<b>

								0
							</b>人气</a>

							<div></div>

						</li>

						<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">

							<a href="#"><b>0</b>粉丝</a>

						</li>

					</ul>

				</div>

			</div>

			<!-- 个人标签卡结束 -->



			<!-- 个人照片开始 -->

			<div class="file-photo">

				<ul class="mui-table-view mui-grid-view boder-none">
                    {% for val in imgs %}
                    <li  class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">

                        <img src="{{ val.path }}">

                    </li>
                    {% endfor %}
					<li  style="float: left" class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">

						<a href="javascript:;" class="do-layer-file-upload">

							<img src="web/images/file-upload.png" />

						</a>

					</li>

				</ul>

			</div>

			<!-- 个人照片结束 -->



			<!-- 个人资料开始 -->

			<div class="file-list">

				<div>

					<h4>

						内心独白

						<span class="dot dot-pink"></span>

						<a href="?r=fossa/dubai" class="link">

							<span class="mui-icon mui-icon-compose"></span>

							编辑独白

						</a>

					</h4>

					<p class="mui-text-left">
                        {{ dubai.mono }}
					</p>


					<h4>基本资料<span class="dot dot-orange"></span><a class="link" href="?r=fossa/jibenjieshao"><span class="mui-icon mui-icon-compose"></span>编辑资料</a></h4>

					{% for vv in arras %}
                    {% if vv.region %}
                    <p><font class="mui-pull-left">年龄</font>{{ vv.age }}</p>
                    {% else %}
                    <p><font class="mui-pull-left">年龄</font>未填写</p>
                    {% endif %}
                    {% if vv.region %}
                    <p><font class="mui-pull-left">性别</font>{{ vv.sex }}</p>
                    {% else %}
                    <p><font class="mui-pull-left">性别</font>未填写</p>
                    {% endif %}
					{% if vv.region %}
					<p><font class="mui-pull-left">地区</font>{{ vv.region }}</p>
					{% else %}
					<p><font class="mui-pull-left">地区</font>未填写</p>
					{% endif %}
					{% if vv.pay %}
					<p><font class="mui-pull-left">月薪</font>{{ vv.pay }}</p>
					{% else %}
					<p><font class="mui-pull-left">月薪</font>未填写</p>
					{% endif %}
					{% if vv.constellation %}
					<p><font class="mui-pull-left">星座</font>{{ vv.constellation }}</p>
					{% else %}
					<p><font class="mui-pull-left">星座</font>未填写</p>
					{% endif %}
					{% if vv.native %}
					<p><font class="mui-pull-left">籍贯</font>

						{{ vv.native }}

					</p>
					{% else %}
					<p><font class="mui-pull-left">籍贯</font>

						未填写</p>
					{% endif %}
					{% if vv.record %}
					<p><font class="mui-pull-left">学历</font>{{ vv.record }}</p>
					{% else %}
					<p><font class="mui-pull-left">学历</font>未填写</p>
					{% endif %}
					{% if vv.marital %}
					<p><font class="mui-pull-left">婚姻状况</font>{{ vv.marital }}</p>
					{% else %}
					<p><font class="mui-pull-left">婚姻状况</font>未填写</p>

					{% endif%}
                   {% endfor %}




					{% if re %}
                    {% for v in re %}
					<h4>详细资料<span class="dot dot-light-purple"></span><a href="?r=fossa/xiangxijieshao" class="link"><span class="mui-icon mui-icon-compose"></span>编辑资料</a></h4>

					<p>

						<font class="mui-pull-left">生肖</font>{{ v.nature }}
					</p>

					<p>

						<font class="mui-pull-left">血型</font>{{ v.bloodtype }}
					</p>

					<p>

						<font class="mui-pull-left">民族</font>{{ v.nation }}
					</p>

					<p>

						<font class="mui-pull-left">有无子女</font>{{ v.children }}
					</p>

					<p>

						<font class="mui-pull-left">购车情况</font>{{ v.vehicle }}
					</p>

					<p>

						<font class="mui-pull-left">住房情况</font>{{ v.house }}
					</p>
                    {% endfor %}
					{% else %}

					 <h4>详细资料<span class="dot dot-light-purple"></span><a href="?r=fossa/xiangxijieshao" class="link"><span class="mui-icon mui-icon-compose"></span>编辑资料</a></h4>

					<p>

						<font class="mui-pull-left">生肖</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">血型</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">民族</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">有无子女</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">购车情况</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">住房情况</font>未填写
					</p>

                    {% endif %}


                    {% if sheng %}
                    {% for v in sheng %}
                      <h4>生活描述<span class="dot dot-light-purple"></span><a href="?r=fossa/shenghuomiaoshu" class="link"><span class="mui-icon mui-icon-compose"></span>编辑资料</a></h4>





					<p>

						<font class="mui-pull-left">是否吸烟</font>{{ v.smoke }}
					</p>

					<p>

						<font class="mui-pull-left">是否喝酒</font>{{ v.drink }}
					</p>

					<p>

						<font class="mui-pull-left">是否锻炼</font>{{ v.fitness }}
					</p>

					<p>

						<font class="mui-pull-left">作息习惯</font>{{ v.rest }}
					</p>

					<p>

						<font class="mui-pull-left">喜欢制造浪漫</font>{{ v.askchild }}
					</p>

					<p>

						<font class="mui-pull-left">生活技能</font>{{ v.lifeskill }}
					</p>

                    {% endfor %}
					{% else %}
					<h4>生活描述<span class="dot dot-light-purple"></span><a href="?r=fossa/shenghuomiaoshu" class="link"><span class="mui-icon mui-icon-compose"></span>编辑资料</a></h4>





					<p>

						<font class="mui-pull-left">是否吸烟</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">是否喝酒</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">是否锻炼</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">作息习惯</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">喜欢制造浪漫</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">生活技能</font>未填写
					</p>




                    {% endif %}

				</div>

			</div>

			<!-- 个人资料结束 -->

			<div class="make-upload" object="avatar" param="avatar"></div>

			<div class="make-upload" object="album" param="album"></div>



			<script src="web/js/uplod.js"></script>

			<script type="text/javascript">

				$(function() {

					//判断照片是否超过10张

					if($('.do-layer-file-upload').parents('ul').find('li').size() > 4) {

						$('.do-layer-file-upload').hide();

					}
					//上传头像

					/*$('.file-avatar').on('tap', '.do-avatar-upload', function(event) {

						$('.make-upload').eq(0).find('input').click();

					});*/

					//上传背景

					$('.file-area').on('tap', 'img', function(event) {

						return false;

					});

					//变更背景

					$('.file-total input').change(function() {

						//文件上传判断

						var chk = checkImgType(this);

						if (!chk) {

							return false;

						}

						$('.file-area img').attr('src', '/tmp/file-bg-1.png');

					});

					//弹窗

					$('.do-layer-file-upload').click(function() {

						$('.layer').fadeIn();

					});

					//本地上传

					$('.do-upload').click(function() {

						$('.make-upload').eq(1).find('input').click();

					});

					//导航栏显示/隐藏

					$(window).scroll(function() {

						var h = $(window).scrollTop();

						if (h > $(window).height() / 2) {

							$('header').removeClass('nav-hide');

						} else {

							$('header').addClass('nav-hide');

						}

					});

					//关闭弹窗

					$('.layer-close').click(function() {

						$('.layer').fadeOut(300);

					});

				});

			</script>



			<link rel="stylesheet" type="text/css" href="/css/mui.previewimage.css" />

			<script src="/js/mui.zoom.js"></script>

			<script src="/js/mui.previewimage.js"></script>

			<script>

				mui.previewImage();

			</script>

		</div>

		<!-- CNZZ代码 -->
	<img src="http://c.cnzz.com/wapstat.php?siteid=1258721820&r=http%3A%2F%2Fm.7799520.com%2Fself&rnd=69160430" width="0" height="0"/>	</body>
	<!--引用自定义脚本-->
	<script src="/js/core.js"></script>


	<!--引用自定义脚本-->






</html>