
 <!DOCTYPE html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
        <link rel="stylesheet" type="text/css" href="web/js/css.css">
        <link rel="stylesheet" type="text/css" href="web/css/lv.css">
        <!--引用Jquery-->
        <script src="web/js/jquery.js"></script>
        <script src="web/js/min.js"  ></script>
	    <script src="web/js/core.js" ></script>
        <script>
            $(window).ready(function () {
                (function ($) {
                    $('body').on('tap', '.link', function (event) {
                    var url = this.getAttribute('href');
                    var blank = this.getAttribute('target');
                    if (blank == '_blank') {
                        window.open(url);
                    } else {
                        window.location.href = url;
                    }
                    });
                })(mui);
                var lab = document.getElementsByClassName('site-nav')[0];
                if (lab) {
                    var nav = getCookie('tab_item');
                    if (nav) {
                            var as = lab.getElementsByTagName('a');
                            for (var i; i < as.length; i++) {
                               as[i].className = 'link'
                            }
                            as[nav - 1].className = 'link mui-active'
                    }
                }
                function getCookie(name) {
                    var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                    if (arr = document.cookie.match(reg))
                        return unescape(arr[2]);
                    else
                        return null;
                }
            })
        </script>


<title>个人资料</title>

</head>



	<body class="backgroud-white">

		<div class="mui-content">

			<!-- 导航栏开始 -->

			<header class="mui-bar mui-bar-nav nav-hide">

				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
                <a href="?r=home/index" class="mui-bar-nav-home link"></a>

			</header>

			<!-- 导航栏结束 -->



			<!-- 弹出层开始 -->
<!-- 
			<div class="layer">

				<div class="layer-file-upload">

					<label class="layer-close"><span class="mui-icon mui-icon-close">X</span></label>

					<img src="web/img/33.png" />

					<p class="title">上传照片</p>

					<p>95%的会员选择有照片的用户进行联系哦</p>

					

				</div>

			</div> -->

			<!-- 弹出层结束 -->



			<!-- 个人标签卡开始 -->
          					{% for vv in arras %}
			<div class="file-area">

				<div class="file-avatar">


					<div class="clip-bg do-avatar-upload" style="">
                        <img src="{{ headimg[0].head_img }}">
					</div>

                    
					<p>
						<b>{{vv.name}}</b>




						<br />{{vv.age}} &nbsp;{{vv.native}}
					</p>
                     
                     {% if aaa %}
					<div id="u">
                           <button  name="a"  id="{{vv.u_id}}" onclick="check_a()"   class="mui-btn mui-btn-warning mui-btn-outlined do-ajax" type="button" ajax-url="" dialog="加关注成功"><span class="ico ico-focus-on" ></span>已关注</button>
					</div>
                     {% else %}
                     <div id="u">
                         <button name="a"   id="{{vv.u_id}}" onclick="check_a()" class="mui-btn mui-btn-warning mui-btn-outlined do-ajax" type="button" ajax-url="" dialog="加关注成功"><span class="ico ico-focus"></span>加关注</button>
                    </div>
                    {% endif %}
				</div>

       

				<img src="web/images/file-bg.png" />



				<div class="file-total">

					<ul class="mui-table-view mui-grid-view boder-none">

						<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">

							<a href="#"><b id="zhu">{{data1}}</b>关注

							</a>

						</li>

						<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">

							<a href="#">

							<b id="meili">

								{{m}}
							</b>魅力</a>



						</li>

						<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">

							<a href="#"><b id="f">{{ar1}}</b>粉丝</a>

						</li>

					</ul>

				</div>

			</div>

			<!-- 个人标签卡结束 -->



			<!-- 个人照片开始 -->
            <h4>
                <a  style="color: black" href="?r=home/album/uid/{{ uid }}" class="link">

                    <span class="mui-icon "></span>

                    个人相册

                </a>
            </h4>

			<div class="file-photo">

				<ul class="mui-table-view mui-grid-view boder-none">

                    {% for val in imgs %}
                    <li  class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">

                        <img src="{{ val.path }}">

                    </li>
                    {% endfor %}
                    <li  style="" class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">

                        <a href="javascript:;" onclick="yaoqing()" class="do-layer-file-upload">

                            <img src="./web/img/file-invite.png" />

                        </a>

                    </li>
				</ul>


			</div>

			<!-- 个人照片结束 -->



			<!-- 个人资料开始 -->

			<div class="file-list">

				<div>

					<h4>

						内心独白

						<span class="dot dot-pink"></span>

					

					</h4>

					<p class="mui-text-left">
                        {{ dubai.mono }}
					</p>


					<h4>基本资料<span class="dot dot-orange"></span></h4>


                    {% if vv.age %}
                    <p><font class="mui-pull-left">年龄</font>{{ vv.age }}</p>
                    {% else %}
                    <p><font class="mui-pull-left">年龄</font>未填写</p>
                    {% endif %}
                    {% if vv.sex %}
                    <p><font class="mui-pull-left">性别</font>{{ vv.sex }}</p>
                    {% else %}
                    <p><font class="mui-pull-left">性别</font>未填写</p>
                    {% endif %}
					{% if vv.region %}
					<p><font class="mui-pull-left">地区</font>{{ vv.region }}</p>
					{% else %}
					<p><font class="mui-pull-left">地区</font>未填写</p>
					{% endif %}
					{% if vv.pay %}
					<p><font class="mui-pull-left">月薪</font>{{ vv.pay }}</p>
					{% else %}
					<p><font class="mui-pull-left">月薪</font>未填写</p>
					{% endif %}
					{% if vv.constellation %}
					<p><font class="mui-pull-left">星座</font>{{ vv.constellation }}</p>
					{% else %}
					<p><font class="mui-pull-left">星座</font>未填写</p>
					{% endif %}
					{% if vv.native %}
					<p><font class="mui-pull-left">籍贯</font>

						{{ vv.native }}

					</p>
					{% else %}
					<p><font class="mui-pull-left">籍贯</font>

						未填写</p>
					{% endif %}
					{% if vv.record %}
					<p><font class="mui-pull-left">学历</font>{{ vv.record }}</p>
					{% else %}
					<p><font class="mui-pull-left">学历</font>未填写</p>
					{% endif %}
					{% if vv.marital %}
					<p><font class="mui-pull-left">婚姻状况</font>{{ vv.marital }}</p>
					{% else %}
					<p><font class="mui-pull-left">婚姻状况</font>未填写</p>

					{% endif%}
                   {% endfor %}




					{% if re %}
                    {% for v in re %}
					<h4>详细资料<span class="dot dot-light-purple"></span></h4>

					<p>

						<font class="mui-pull-left">生肖</font>{{ v.nature }}
					</p>

					<p>

						<font class="mui-pull-left">血型</font>{{ v.bloodtype }}
					</p>

					<p>

						<font class="mui-pull-left">民族</font>{{ v.nation }}
					</p>

					<p>

						<font class="mui-pull-left">有无子女</font>{{ v.children }}
					</p>

					<p>

						<font class="mui-pull-left">购车情况</font>{{ v.vehicle }}
					</p>

					<p>

						<font class="mui-pull-left">住房情况</font>{{ v.house }}
					</p>
                    {% endfor %}
					{% else %}

					 <h4>详细资料<span class="dot dot-light-purple"></span></h4>

					<p>

						<font class="mui-pull-left">生肖</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">血型</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">民族</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">有无子女</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">购车情况</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">住房情况</font>未填写
					</p>

                    {% endif %}



                    {% if sheng %}
                    {% for v in sheng %}
                      <h4>生活描述<span class="dot dot-light-purple"></span></h4>





					<p>

						<font class="mui-pull-left">是否吸烟</font>{{ v.smoke }}
					</p>

					<p>

						<font class="mui-pull-left">是否喝酒</font>{{ v.drink }}
					</p>

					<p>

						<font class="mui-pull-left">是否锻炼</font>{{ v.fitness }}
					</p>

					<p>

						<font class="mui-pull-left">作息习惯</font>{{ v.rest }}
					</p>

					<p>

						<font class="mui-pull-left">喜欢制造浪漫</font>{{ v.askchild }}
					</p>

					<p>

						<font class="mui-pull-left">生活技能</font>{{ v.lifeskill }}
					</p>

                    {% endfor %}
					{% else %}
					<h4>生活描述<span class="dot dot-light-purple"></span></h4>





					<p>

						<font class="mui-pull-left">是否吸烟</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">是否喝酒</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">是否锻炼</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">作息习惯</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">喜欢制造浪漫</font>未填写
					</p>

					<p>

						<font class="mui-pull-left">生活技能</font>未填写
					</p>




                    {% endif %}

				</div>

			</div>

			<!-- 个人资料结束 -->

			<div class="make-upload" object="avatar" param="avatar"></div>

			<div class="make-upload" object="album" param="album"></div>



			<script src="web/js/uplod.js"></script>

			<script type="text/javascript">

				$(function() {

					//判断照片是否超过10张

					if($('.do-layer-file-upload').parents('ul').find('li').size() > 4) {

						$('.do-layer-file-upload').hide();

					}
					//上传头像

					/*$('.file-avatar').on('tap', '.do-avatar-upload', function(event) {

						$('.make-upload').eq(0).find('input').click();

					});*/

					//上传背景

					$('.file-area').on('tap', 'img', function(event) {

						return false;

					});

					//变更背景

					$('.file-total input').change(function() {

						//文件上传判断

						var chk = checkImgType(this);

						if (!chk) {

							return false;

						}

						$('.file-area img').attr('src', '/tmp/file-bg-1.png');

					});

					//弹窗

					$('.do-layer-file-upload').click(function() {

						$('.layer').fadeIn();

					});

					//本地上传

					$('.do-upload').click(function() {

						$('.make-upload').eq(1).find('input').click();

					});

					//导航栏显示/隐藏

					$(window).scroll(function() {

						var h = $(window).scrollTop();

						if (h > $(window).height() / 2) {

							$('header').removeClass('nav-hide');

						} else {

							$('header').addClass('nav-hide');

						}

					});

					//关闭弹窗

	

				$('.layer-close').click(function() {

						$('.layer').fadeOut(300);

					});

				});

			</script>

           <script>
               function yaoqing(){

                   var u_id=$('button').attr('id');
                   //alert(u_id);
                   var mess='有人邀请你添加照片!';
                   $.post("?r=advices/invite", {'u_id':u_id,'mess':mess},
                           function(str){
                               //alert(str);
                               if(str == 1){
                                   alert('邀请成功');
                               }else{
                                   alert('请不要重复邀请');
                               }
                           }
                          );
               };
                 /* function check_a(){

                           var u_id=$('button').attr('id');
                           $.ajax({
							   type: "POST",
							   url: "?r=home/guan",
							   data: {'u_id':u_id},
							   success: function(msg){

								   aa = eval( "(" + msg + ")" );
//								   alert(aa.u_id)
							      if(aa.a==1){
									  var html='<div id="u"><button name="a"   id="'+aa.u_id+'" onclick="check_a()" class="mui-btn mui-btn-warning mui-btn-outlined do-ajax" type="button" ajax-url="" dialog="加关注成功"><span class="ico ico-focus"></span>加关注</button></div>';
									  $('#u').html(html);
									  $('#f').html(aa.f);
									  $('#zhu').html(aa.f);
								   }else if(aa.a==2){

								   var html = '<div id="u"><button  name="a" id="'+aa.u_id+'" onclick="check_a()"   class="mui-btn mui-btn-warning mui-btn-outlined do-ajax" type="button" ajax-url="" dialog="加关注成功"><span class="ico ico-focus-on" ></span>已关注</button></div>';
									  $('#u').html(html);
									  $('#f').html(aa.f);
									  $('#zhu').html(aa.f);

								  }
							      
							   }
							});
                   };*/
           </script>

			<!--<script src="web/js/mui.zoom.js"></script>-->

			<script src="web/js/previewimage.js"></script>

		</div>

	





</body>
</html>