
 <!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
        <link rel="stylesheet" type="text/css" href="web/js/css.css">
        <!--引用Jquery-->
        <script src="web/js/jquery.js"></script>
        <script src="web/js/min.js" /></script>
	    <script src="web/js/core.js" /></script>
        <script>
            $(window).ready(function () {
                (function ($) {
                    $('body').on('tap', '.link', function (event) {
                    var url = this.getAttribute('href');
                    var blank = this.getAttribute('target');
                    if (blank == '_blank') {
                        window.open(url);
                    } else {
                        window.location.href = url;
                    }
                    });
                })(mui);
                var lab = document.getElementsByClassName('site-nav')[0];
                if (lab) {
                    var nav = getCookie('tab_item');
                    if (nav) {
                            var as = lab.getElementsByTagName('a');
                            for (var i; i < as.length; i++) {
                               as[i].className = 'link'
                            }
                            as[nav - 1].className = 'link mui-active'
                    }
                }
                function getCookie(name) {
                    var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                    if (arr = document.cookie.match(reg))
                        return unescape(arr[2]);
                    else
                        return null;
                }
            })
        </script>

<title>我主良缘：中国高端婚恋交友_征婚相亲直营连锁创导者</title><meta content="征婚交友,相亲,征婚,交友网站,相亲网,婚恋交友网" name="keywords">
<meta content="征婚交友_相亲找对象就上【我主良缘】婚介网,中国大型实体同城婚恋交友标杆企业,找对象快,好单身多！是单身男女交友,找老公-找老婆-找老伴的婚姻介绍网站,我主良缘公司于2007年在福建福州创立,目前已在多个城市开设了直营分公司,其营业规模、团队数量和服务品质均处于行业前沿." name="description">
</head>
	<body>
		<!-- 导航栏开始 -->
		<header class="mui-bar mui-bar-nav index">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">
				<div class="logo">
					<img src="http://img.7799520.com/img/logo.png">
				</div>
			</h1>
			<a href="" class="mui-btn-link mui-btn-nav mui-pull-right link">
								北京			<span></span>
			</a>
		</header>
		<!-- 导航栏结束 -->

		<!-- 跟随内容开始 -->
		<div class="fix">
			<!-- 在线咨询开始 -->
			<div class="fix-team-msg">
				<a href="http://kefu5.kuaishang.cn/bs/im/67780/59167/602875.htm" class="link"></a>
			</div>
			<!-- 在线咨询结束 -->
		</div>
		<!-- 跟随内容结束 -->

		
		<div id="pullrefresh" class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<!-- 图片轮播开始 -->
				<div id="slider" class="mui-slider">
					<div class="mui-slider-group mui-slider-loop">

	<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->

	<div class="mui-slider-item mui-slider-item-duplicate">

		<a href="http://m.7799520.com/sign" class="link">

			<img src="http://img.7799520.com/img/slide-sign.png">
		</a>

	</div>



	 <div class="mui-slider-item">
                <a href="http://m.7799520.com/top" class="link">
                        <img src="http://img.7799520.com/tmp/top1.png">
                </a>
        </div>


	<div class="mui-slider-item">
                <a href="http://m.7799520.com/sign" class="link">
			<img src="http://img.7799520.com/img/slide-sign.png">
                </a>
        </div>


        <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
	<div class="mui-slider-item mui-slider-item-duplicate">
		<a href="http://m.7799520.com/top" class="link">
			<img src="http://img.7799520.com/tmp/top1.png">
		</a>
	</div>


</div>

<div class="mui-slider-indicator">

	<div class="mui-indicator mui-active"></div>

	<div class="mui-indicator"></div>

</div>
				</div>
				<script type="text/javascript" charset="utf-8">
					var slider = mui("#slider");
					slider.slider({
						interval: 5000
					});
				</script>
				<!-- 图片轮播结束 -->

				<!-- 导航按钮开始 -->
				<div class="index-ico">
					<ul class="mui-table-view mui-grid-view boder-none">
	<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
		<a href="http://m.7799520.com/recommend" class="link">
			<span class="icon-coffee"></span>
			<div class="mui-media-body">同城交友</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
		<a href="http://m.7799520.com/party" class="link">
			<span class="icon-heart"></span>
			<div class="mui-media-body">相亲活动</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
		<a href="http://m.7799520.com/news" class="link">
			<span class="icon-doctor"></span>
			<div class="mui-media-body">婚恋课堂</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
		<a href="http://m.7799520.com/team" class="link">
			<span class="icon-team"></span>
			<div class="mui-media-body">红娘团队</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
		<a href="http://m.7799520.com/weibo" class="link">
			<span class="icon-vip"></span>
			<div class="mui-media-body">心情微博</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
		<a href="http://m.7799520.com/story" class="link">
			<span class="icon-skirt"></span>
			<div class="mui-media-body">成功故事</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
		<a href="http://m.7799520.com/about" class="link">
			<span class="icon-brand"></span>
			<div class="mui-media-body">品牌荣誉</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
		<a href="http://m.7799520.com/address" class="link">
			<span class="icon-locate"></span>
			<div class="mui-media-body">门店地址</div>
		</a>
	</li>
</ul>				</div>
				<!-- 导航按钮结束 -->

				<!-- banner开始 -->
				<div class="banner">
					<a href="http://m.7799520.com/recommend" class="link">
						<img src="http://img.7799520.com/img/banner1.png" />
					</a>
				</div>
				<!-- banner结束 -->

				<!-- 会员开始 -->
				<div class="index-member">
		
		<div class="tabs">
	
</div>
<!-- 切换标签结束 -->





	

			

				<!-- 文字内容开始 -->
				<div class="index-summary">
	<p>
		服务<b>9</b>个城市 超过<b>900</b>万认证会员 成就<b>200</b>万情侣
	</p>
	<p class="hotline">
		联系人热线：15201595926
	</p>
	<p>
		<a href="http://m.7799520.com/about" class="link">关于我们</a>|<a href="http://m.7799520.com/invite" class="link">人才招聘</a>|<a href="http://kefu5.kuaishang.cn/bs/im/67780/59167/602875.htm" class="link">帮助中心</a>|<a href="">客户端</a>
	</p>
	<p>
		缘来社交 版权所有
	</p>
</div>				<!-- 文字内容结束 -->
			</div>
		</div>

		<style type="text/css">
			.mui-pull {
				display: none;
			}
		</style>
		<!-- <script src="/js/??/core-pull.js,lazyload.js,index.js"></script> -->
	<!--引用自定义脚本-->
	
		<!-- CNZZ代码 -->
	<img src="http://c.cnzz.com/wapstat.php?siteid=1258721820&r=&rnd=1919918879" width="0" height="0"/>	</body>
	<!--引用自定义脚本-->
	<script src="web/js/core1.js"></script> 
	


</html>