
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>佳缘广场</title>
        <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
        <link rel="stylesheet" href="css/css.css" />
        <link rel="stylesheet" href="css/list.css" />
        <link rel="stylesheet" href="css/member.css" />

	</head>
	<body>
		<div class="jy pr">
        	<!--顶部导航--start-->温馨提示：本信息仅供提供演示方便链接，与原网站无关！<a  href="index.html">首页</a>  <a  href="gerenzhongxin.html">个人中心演示图</a>  <a href="jiaoyuanguangc.html">交友广场演示图</a>  <a  href="sousuo.html">搜索演示图</a> <a  href="youxiang.html">邮箱演示图</a>
            													<div class="pr per-top-nav fs12">
            	<div class="pa per-top-l" onclick='document.location.href="/";'></div>

				<div class="pa per-top-r">
                	<!--弹层--start-->
                    <div class="pa pla-pop clearfix dn">
                        <ul class="fl">
                            <li><a href="#">首页</a></li>
                            <li><a href="#">搜索</a></li>
                            <li><a href="#">邮箱</a></li>
                        </ul> 
                        <ul class="fl">
                            <li><a href="#">购买</a></li>
                            <li class="cur"><a href="#">佳缘广场</a></li>
                            <li><a href="#">个人中心</a></li>
                        </ul>   	
                    </div>
                    <!--弹层--end-->
                </div>

                <p class="fs12">佳缘广场</p>

            </div>
            <!--顶部导航--end-->
            <!--主要部分--start-->
            <div class="main-bg pt1 bt1">
				<ul class="clearfix jy-pla">
                	<li class="b1">
                    	<div><a href="#" class="a1"></a></div>
                        <p class="fs12 co2 lh30">缘分</p>
                    </li>
                    <li class="b2">
                    	<div><a href="#" class="a2"></a></div>
                        <p class="fs12 co2 lh30">丘比特</p>
                    </li>
                    <li class="b3">
                    	<div><a href="#" class="a3"></a></div>
                        <p class="fs12 co2 lh30">猜猜看</p>
                    </li>
                    <li class="b4">
                    	<div><a href="#" class="a4"></a></div>
                        <p class="fs12 co2 lh30">触电</p>
                    </li>
                    
                    <li class="b5">
                    	<div><a href="#" class="a1"></a></div>
                        <p class="fs12 co2 lh30">姻缘配对</p>
                    </li>
                    <li class="b6">
                    	<div><a href="#" class="a2"></a></div>
                        <p class="fs12 co2 lh30">非诚勿入</p>
                    </li>
                    <li class="b7">
                    	<div><a href="#" class="a3"></a></div>
                        <p class="fs12 co2 lh30">星座速配</p>
                    </li>
                    <li class="b8">
                    	<div><a href="#" class="a4"></a></div>
                        <p class="fs12 co2 lh30">PK大赛</p>
                    </li>
                    
                    <li class="b9">
                    	<div><a href="#" class="a1"></a></div>
                        <p class="fs12 co2 lh30">说媒</p>
                    </li>
                    <li class="b10">
                    	<div><a href="#" class="a2"></a></div>
                        <p class="fs12 co2 lh30">附近的人</p>
                    </li>
                    <li class="b11">
                    	<div><a href="#" class="a3"></a></div>
                        <p class="fs12 co2 lh30">夫妻相</p>
                    </li>
                    <li class="b12">
                    	<div><a href="#" class="a4"></a></div>
                        <p class="fs12 co2 lh30">关注</p>
                    </li>
                </ul>
            </div>
            <!--主要部分--end-->
                        <!--footer--start-->
            <div class="jy-fo">
            	<ul class="clearfix">
											<li class="fl fo-l"><a href="#" class="fs12 co5">触屏版</a></li>
						<li class="fl"><span class="co3">|</span></li>
						<li class="fl fo-r"><a href="#" class="fs12 co3">彩版</a></li>
					                </ul>
                <p class="tac co3 fs12 mt20">世纪佳缘  m.jiayuan.com</p>
				<p class="tac co3 fs12 mt8">红娘专线：010-64459575</p>
            </div>
            <!--footer--end-->        </div>
	</body> <script type="text/javascript">
    /*20:3 创建于 2014-12-26*/
    var cpro_id = "u1879755";
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/cm.js" type="text/javascript"></script>

</html>
