<!DOCTYPE html>

<html>

<head>

    <title>缘来社交</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />

    <meta content="yes" name="apple-mobile-web-app-capable" />

    <link href="./web/styles/bootstrap.min.css" rel="stylesheet" />

    <link href="./web/styles/NewGlobal.css" rel="stylesheet" />
    <script type="text/javascript" src="./web/jquery.1.10.1.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>

<body>

{% block content %}

{% endblock %}
</content>

<div class="footer">

    <div class="gezifooter">

        <a href="http://www.hotels.cn/jiu-dian-you-hui/globalgeneric-cn/?dateless=true&PSRC=SEMU&rffrid=sem.hcom.CN.baidu.003.00.03.1.kwrd%3DZzZz.17IC3AR7S.0.5361722491.10203p79948.d.c" class="ui-link">酒店预订</a> <font color="#878787">|</font> 

            

        <a href="?index/register" class="ui-link">免费注册</a> <font color="#878787">

    </div>

    <div class="gezifooter">

        <p style="color:#bbb;">缘来社交 &copy; 版权所有 2016</p>

    </div>

</div>

<div style="display:none;"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cdiv id='cnzz_stat_icon_1000047539'%3E%3C/div%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000047539%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></div>

</body>

</html>