
 <!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
        <link rel="stylesheet" type="text/css" href="web/js/css.css">
        <!--引用Jquery-->
        <script src="web/js/jquery.js"></script>
        <script src="web/js/min.js" ></script>
	    <script src="web/js/core.js" ></script>
        <script>
            $(window).ready(function () {
                (function ($) {
                    $('body').on('tap', '.link', function (event) {
                    var url = this.getAttribute('href');
                    var blank = this.getAttribute('target');
                    if (blank == '_blank') {
                        window.open(url);
                    } else {
                        window.location.href = url;
                    }
                    });
                })(mui);
                var lab = document.getElementsByClassName('site-nav')[0];
                if (lab) {
                    var nav = getCookie('tab_item');
                    if (nav) {
                            var as = lab.getElementsByTagName('a');
                            for (var i; i < as.length; i++) {
                               as[i].className = 'link'
                            }
                            as[nav - 1].className = 'link mui-active'
                    }
                }
                function getCookie(name) {
                    var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                    if (arr = document.cookie.match(reg))
                        return unescape(arr[2]);
                    else
                        return null;
                }
            })
        </script>

<title>缘来交友</title>
</head>
	<body>
		<!-- 导航栏开始 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">推荐会员</h1>
			<a href="?r=home/shaixuan" class="mui-btn-link mui-btn-nav mui-pull-right link">筛选</a>
		</header>
		<!-- 导航栏结束 -->

		<!-- 发信息开始 -->
		<div class="layer">
			<div class="layer-message-add">
				<div class="title">
					<span class="mui-icon mui-icon-closeempty mui-poppicker-btn-cancel mui-pull-left layer-close"></span>
					<p class="mui-ellipsis">与<label id=""></label>对话</p>
					<span class="mui-icon mui-icon-checkmarkempty mui-poppicker-btn-ok mui-pull-right do-message-send"></span>
				</div>
				<div class="upload"></div>
				<input name="send_id" type="hidden" value="" />
				<textarea name="content" placeholder="请输入您想对TA说的话…"></textarea>
			</div>
		</div>
		<!-- 发信息结束 -->

		<!-- 选项卡开始 -->
		
</nav>		<!-- 选项卡结束 -->

		<div class="mui-content backgroud-none" pull="recommend" pull-obj="mui-table-view">
			<!-- banner开始 -->
			<a href="http://m.7799520.com/self/1.html" class="link">
				<div class="banner margin-none">
					
				</div>
			</a>
			<!-- banner结束 -->

			<!-- 会员推荐开始 -->
			<div class="recommend-list">
				<ul class="mui-table-view"></ul>
			</div>
<div class="recommend-list">
<ul class="mui-table-view">
<li class="mui-table-view-cell mui-media">
<div class="mui-pull-left mui-media-object clip-bg" style="background: url(http://www.7799520.com/jiaoyou/data/attachment/avatar/201609/18/362485/avatar_big.jpg.thumb.jpg);">
<a class="link" href="http://m.7799520.com/user/362485.html"></a>
</div>
<div class="mui-media-body">
<a class="link" href="http://m.7799520.com/user/362485.html">
<b>搞什么</b>
<span>29岁，山东，170cm</span>
<p class="mui-ellipsis">内心独白：相信有一个人能与我相携走过今生，给我你的坐标，让我们在人海中遇见！</p>
</a>
</div>
<div>
<a class="do-message-hi" href="javascript:;" objid="362485">
<span class="ico ico-msg-hi"></span>
打招呼
</a>
<a class="do-message-add" href="javascript:;" objid="362485">
<span class="ico ico-msg-call"></span>
发信息
</a>
</div>
</li>
</ul>
</div>


            <a href="?r=index/login" ></a>
	


</html>