
 <!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
        <link rel="stylesheet" type="text/css" href="web/js/css.css">
        <!--引用Jquery-->
        <script src="web/js/jquery.js"></script>
        <script src="web/js/mui.js" /></script>
	    <script src="web/js/core.js" /></script>
        

<title>编辑生活描述</title>
</head>

	<body class="backgroud-white">
		<!-- 导航栏开始 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">生活描述</h1>
			<a href="javascript:;" class="mui-btn-link mui-btn-nav mui-pull-right do-submit" ajax-url="" href-url="" dialog="保存成功">保存</a>
		</header>
		<!-- 导航栏结束 -->

		<div class="mui-content">
			<!-- 生活描述开始 -->
			<form action="" method="post">
				<div class="form form-search">
					<div class="padding form-list">
						<div id="HomePicker" class="mui-input-row">
							<label>家中排行</label>
							<font>未透露</font>
							<input name="tophome" type="hidden" value="" />
						</div>
						<div id="ConsumePicker" class="mui-input-row">
							<label>最大消费</label>
							<font>未透露</font>
							<input name="consume" type="hidden" value="" />
						</div>
						<div id="SmokePicker" class="mui-input-row">
							<label>是否吸烟</label>
							<font>未透露</font>
							<input name="smoking" type="hidden" value="" />
						</div>
						<div id="FaithPicker" class="mui-input-row">
							<label>宗教信仰</label>
							<font>未透露</font>
							<input name="faith" type="hidden" value="" />
						</div>
						<div id="WorkoutPicker" class="mui-input-row">
							<label>锻炼习惯</label>
							<font>未透露</font>
							<input name="workout" type="hidden" value="" />
						</div>
						<div id="DrinkPicker" class="mui-input-row">
							<label>是否喝酒</label>
							<font>未透露</font>
							<input name="drinking" type="hidden" value="" />
						</div>
						<div id="RestPicker" class="mui-input-row">
							<label>作息习惯</label>
							<font>未透露</font>
							<input name="rest" type="hidden" value="" />
						</div>
						<div id="RomanticPicker" class="mui-input-row">
							<label>喜欢制造浪漫</label>
							<font>未透露</font>
							<input name="romantic" type="hidden" value="" />
						</div>
						<div id="ChildrenPicker" class="mui-input-row">
							<label>是否要孩子</label>
							<font>未透露</font>
							<input name="havechildren" type="hidden" value="" />
						</div>
						<div id="LivePicker" class="mui-input-row">
							<label>与对方父母同住</label>
							<font>未透露</font>
							<input name="talive" type="hidden" value="" />
						</div>
						
						
					</div>
				</div>
			</form>

			
			<!-- 生活描述结束 -->
		</div>
		<!-- CNZZ代码 -->
	<img src="http://c.cnzz.com/wapstat.php?siteid=1258721820&r=http%3A%2F%2Fm.7799520.com%2Fself%2F377537.html&rnd=1526688109" width="0" height="0"/>	</body>
	<!--引用自定义脚本-->
	<script src="/js/core.js"></script> 
	<!--引用自定义脚本-->
	


</html>