
 <!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
        <link rel="stylesheet" type="text/css" href="web/js/css.css">
        <!--引用Jquery-->
        <script src="web/js/jquery.js"></script>
        <script src="web/js/mui.js" ></script>
	    <script src="web/js/core.js" ></script>
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>编辑生活描述</title>
</head>

	<body class="backgroud-white">
		<!-- 导航栏开始 -->
		<header class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">生活描述</h1>
			
		</header>
		<!-- 导航栏结束 -->

		<div class="mui-content">
			<!-- 生活描述开始 -->
			<form action="?r=fossa/sheng_add" method="post">
			{% if re %}
			   {% for v in re %}
			    <span class="input-group-addon">是否吸烟</span>
			    <input type="text" name="smoke" class="form-control" value="{{ v.smoke }}">
			    <span class="input-group-addon">是否喝酒</span>
			    <input type="text" name="drink" class="form-control" value="{{ v.drink }}">
			    <span class="input-group-addon">锻炼习惯</span>
			    <input type="text" name="fitness" class="form-control" value="{{ v.fitness }}">
                <span class="input-group-addon">作息习惯</span>
			    <input type="text" name="rest" class="form-control" value="{{ v.rest }}">
				<span class="input-group-addon">是否喜爱浪漫</span>
			    <input type="text" name="askchild" class="form-control" value="{{ v.askchild }}">
			    <span class="input-group-addon">生活技能</span>
			    <input type="text" name="lifeskill" class="form-control" value="{{ v.lifeskill }}">
                <center>
			    <input type="submit" value="完成">
			    </center>
			     {% endfor %}
			   {% else %}

                 <span class="input-group-addon">是否吸烟</span>
			    <input type="text" name="smoke" class="form-control" value="">
			    <span class="input-group-addon">是否喝酒</span>
			    <input type="text" name="drink" class="form-control" value="">
			    <span class="input-group-addon">锻炼习惯</span>
			    <input type="text" name="fitness" class="form-control" value="">
                <span class="input-group-addon">作息习惯</span>
			    <input type="text" name="rest" class="form-control" value="">
				<span class="input-group-addon">是否喜爱浪漫</span>
			    <input type="text" name="askchild" class="form-control" value="">
			    <span class="input-group-addon">生活技能</span>
			    <input type="text" name="lifeskill" class="form-control" value="">
                <center>
			    <input type="submit" value="完成">
			    </center> 
			   {% endif %}
			</form>

			
			<!-- 生活描述结束 -->
		</div>
		<!-- CNZZ代码 -->
	<img src="http://c.cnzz.com/wapstat.php?siteid=1258721820&r=http%3A%2F%2Fm.7799520.com%2Fself%2F377537.html&rnd=1526688109" width="0" height="0"/>	</body>
	<!--引用自定义脚本-->
	<script src="/js/core.js"></script> 
	<!--引用自定义脚本-->
	


</html>