
 <!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
        <link rel="stylesheet" type="text/css" href="web/js/css.css">
        <!--引用Jquery-->
        <script src="web/js/jquery.js"></script>
        <script src="web/js/min.js" ></script>
	    <script src="web/js/core.js" ></script>
	    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       
<title>编辑详细资料</title>
</head>

	<body class="backgroud-white">
		<!-- 导航栏开始 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">详细资料</h1>
			
		</header>
		<!-- 导航栏结束 -->

		<div class="mui-content">
			<!-- 详细资料开始 -->
			<form action="?r=fossa/xiang_add" method="post">
		    {% if re %}
			  {% for v in re %}
				<span class="input-group-addon">生肖</span>
			    <input type="text" name="nature" class="form-control" value="{{ v.nature }}">
			    <span class="input-group-addon">血型</span>
			    <input type="text" name="bloodtype" class="form-control" value="{{ v.bloodtype }}">
			    <span class="input-group-addon">民族</span>
			    <input type="text" name="nation" class="form-control" value="{{ v.nation }}">
			    <span class="input-group-addon">有无子女</span>
			    <input type="text" name="children" class="form-control" value="{{ v.children }}">
			    <span class="input-group-addon">购车情况</span>
			    <input type="text" name="vehicle" class="form-control" value="{{ v.vehicle }}">
                <span class="input-group-addon">住房情况</span>
			    <input type="text" name="house" class="form-control" value="{{ v.house }}">
                <center>
			    <input type="submit" value="完成">
			    </center>
			    {% endfor %}
			  
               {% else %}
                <span class="input-group-addon">生肖</span>
			    <input type="text" name="nature" class="form-control" placeholder="">
			    <span class="input-group-addon">血型</span>
			    <input type="text" name="bloodtype" class="form-control" placeholder="">
			    <span class="input-group-addon">民族</span>
			    <input type="text" name="nation" class="form-control" placeholder="">
			    <span class="input-group-addon">有无子女</span>
			    <input type="text" name="children" class="form-control" placeholder="">
			    <span class="input-group-addon">购车情况</span>
			    <input type="text" name="vehicle" class="form-control" placeholder="">
                <span class="input-group-addon">住房情况</span>
			    <input type="text" name="house" class="form-control" placeholder="">
                <center>
			    <input type="submit" value="完成">
			    </center>
			 {% endif %}
			</form>

			
			<!-- 详细资料结束 -->
		</div>
		<!-- CNZZ代码 -->
	<img src="http://c.cnzz.com/wapstat.php?siteid=1258721820&r=http%3A%2F%2Fm.7799520.com%2Fself%2F377537.html&rnd=1481080925" width="0" height="0"/>	</body>
	<!--引用自定义脚本-->
	<script src="web/js/core1.js"></script> 
	<!--引用自定义脚本-->
	


</html>