
 <!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
        <link rel="stylesheet" type="text/css" href="web/js/css.css">
        <!--引用Jquery-->
        <script src="web/js/jquery.js"></script>
        <script src="web/js/min.js" /></script>
	    <script src="web/js/core.js" /></script>
       
<title>编辑详细资料</title>
</head>

	<body class="backgroud-white">
		<!-- 导航栏开始 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">详细资料</h1>
			<a href="javascript:;" class="mui-btn-link mui-btn-nav mui-pull-right do-submit" ajax-url="" href-url="" dialog="保存成功">保存</a>
		</header>
		<!-- 导航栏结束 -->

		<div class="mui-content">
			<!-- 详细资料开始 -->
			<form action="" method="post">
				<div class="form form-search">
					<div class="padding form-list">
						<div id="LunarPicker" class="mui-input-row">
							<label>生肖</label>
							<font>狗</font>
							<input name="lunar" type="hidden" value="" />
						</div>
						<div id="BloodPicker" class="mui-input-row">
							<label>血型</label>
							<font>未透露</font>
							<input name="blood" type="hidden" value="" />
						</div>
						<div id="NationalityPicker" class="mui-input-row">
							<label>国籍</label>
							<font>未透露</font>
							<input name="nationality" type="hidden" value="" />
						</div>
						<div id="NationPicker" class="mui-input-row">
							<label>民族</label>
							<font>未透露</font>
							<input name="national" type="hidden" value="" />
						</div>
						<div id="StatusPicker" class="mui-input-row">
							<label>有无子女</label>
							<font>未透露</font>
							<input name="childrenstatus" type="hidden" value="" />
						</div>
						<div id="CarPicker" class="mui-input-row">
							<label>购车情况</label>
							<font>未透露</font>
							<input name="caring" type="hidden" value="" />
						</div>
						<div id="HousePicker" class="mui-input-row">
							<label>住房情况</label>
							<font>未透露</font>
							<input name="housing" type="hidden" value="" />
						</div>
					</div>
				</div>
			</form>

			
			<!-- 详细资料结束 -->
		</div>
		<!-- CNZZ代码 -->
	<img src="http://c.cnzz.com/wapstat.php?siteid=1258721820&r=http%3A%2F%2Fm.7799520.com%2Fself%2F377537.html&rnd=1481080925" width="0" height="0"/>	</body>
	<!--引用自定义脚本-->
	<script src="css/core.js"></script> 
	<!--引用自定义脚本-->
	


</html>