
 <!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport"  content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
        <link rel="stylesheet" type="text/css" href="web/js/css.css">
        <!--引用Jquery-->
        <script src="web/js/jquery.js"></script>
        <script src="web/js/min.js" ></script>
	    <script src="web/js/core.js" ></script>
        <script>
            $(window).ready(function () {
                (function ($) {
                    $('body').on('tap', '.link', function (event) {
                    var url = this.getAttribute('href');
                    var blank = this.getAttribute('target');
                    if (blank == '_blank') {
                        window.open(url);
                    } else {
                        window.location.href = url;
                    }
                    });
                })(mui);
                var lab = document.getElementsByClassName('site-nav')[0];
                if (lab) {
                    var nav = getCookie('tab_item');
                    if (nav) {
                            var as = lab.getElementsByTagName('a');
                            for (var i; i < as.length; i++) {
                               as[i].className = 'link'
                            }
                            as[nav - 1].className = 'link mui-active'
                    }
                }
                function getCookie(name) {
                    var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                    if (arr = document.cookie.match(reg))
                        return unescape(arr[2]);
                    else
                        return null;
                }
            })
        </script>

<title>心情微博</title>
</head>

	<body>
		<!-- 导航栏开始 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">心情微博</h1>
			<a href="javascript:;" class="mui-btn-link mui-btn-nav mui-pull-right do-weibo-add">发布</a>
		</header>
		<!-- 导航栏结束 -->

		<div class="layer">
		</div>
	<!-- 选项卡结束 -->

		<div class="mui-content backgroud-none" pull="weibo-list" pull-obj="weibo-list > .mui-table-view">
			<!-- 心情微博开始 -->
			<div class="weibo-list" id="userid" userid="0" >
				<div class="tabs">
					<div class="mui-segmented-control normal">
												<a class="mui-control-item mui-active" href="#">心情微博</a>
												
					</div>
				</div>

				<ul class="mui-table-view"></ul>
			</div>
			<div class="make-upload" object="weibo" param="weibo"></div>
			<div id="userid" class="weibo-list" userid="0">
			<div class="tabs">
			<ul class="mui-table-view">
			<li class="mui-table-view-cell mui-media">
			<div class="mui-pull-left mui-media-object clip-bg" style="background: url(http://www.7799520.com/jiaoyou/data/attachment/avatar/201610/06/374151/avatar_big.jpg);">
			<a class="link" href="http://m.7799520.com/user/374151.html"></a>
			</div>
			<div class="mui-media-body">
			<a class="link" href="http://m.7799520.com/user/374151.html">
			<b>
			<font>痕迹Q</font>
			</b>
			<span>10-19 . 浙江 杭州</span>
			</a>
			</div>
			<div>
			<a class="link" href="">
			<p>嘿嘿</p>
			</a>
			</div>
			<div>
			<a class="do-collect" href="javascript:;" objid="7154">
			<span class="ico ico-msg-heart"></span>
			<label>0</label>
			</a>
			<a class="do-message-add" href="javascript:;" objid="374151">

			</a>
			</div>
			</li>
			</ul>
			</div>

			

</html>